<div class="row">
    <div class="col-md-6">
        <a routerLink="/vols" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i> Ir a Voluntarios
        </a>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right">
            <a routerLink="/vol/edit/{{ id }}" class="btn btn-dark">
            Editar
          </a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Eliminar</button>
        </div>
    </div>
</div>
<hr>

<div class="row" *ngIf="vol">
    <div class="col-md-9">
        <h2>{{ vol.nombre | titleCase}}</h2>
    </div>
    <div class="col-md-3 mto10">
        <h4><small>Estado:</small> <i class="fa fa-circle mle5" [style.color]="vol.estado ? color_icon : 'red'"></i></h4>
    </div>
</div>
<hr>

<div class="row" *ngIf="vol">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="./assets/images/user-icon.jpg" [alt]="vol.nombre">
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table">
            <tbody>
                <tr>
                    <td>Nacionalidad: <strong>{{vol.nacion}}</strong></td>
                    <td>RH: <strong>{{vol.rh | titleCase}}</strong></td>
                </tr>
                <tr>
                    <td>Identificación: <strong>{{vol.ident}}</strong></td>
                    <td>Edad: <strong>{{vol.edad}}</strong></td>
                </tr>
                <tr>
                    <td>Dirección de residencia: <strong>{{vol.dir}}</strong></td>
                    <td>Teléfono: <strong>{{vol.cel}}</strong></td>
                </tr>
                <tr>
                    <td>Area: <strong>{{vol.area}}</strong></td>
                    <td>Jornada: <strong>{{vol.jornada}}</strong></td>
                </tr>
                <tr>
                    <td>Observaciones: <strong>{{vol.obs}}</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Voluntario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                ¿Estas seguro que deseas eliminar este voluntario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="onDeleteClick()" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>